/* work sans font from google */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;800&display");
* {
  font-family: "Work Sans";
}
header{background:rgb(252, 248, 242);padding: 30px 250px ;}
nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
nav li {
  list-style: none;font-size: 1rem;font-weight: 400px;
  margin-right: 60px;
}
nav li a{text-decoration: none;
color: #131318;}
.primary-head {
  font-size: 2rem;font-weight: 800;
  word-wrap: break-word;
  justify-content: space-between;
}
.heading1 {
  color: #ff5400;
  font-size: 36px;
  font-weight: 800;
  margin-left: 10px;
  word-wrap: break-word;
}
.banner {
background-image:  url(img/Group\ 13\ \(1\)\ \(1\).png);background-repeat: no-repeat;width: 1440px;
height: 500px;
flex-shrink: 0;
border-radius: 16px;
background-size:cover;
background-position: center;
margin-right: 153px;
}
.banner-section-1 { margin-top: 70px;
  font-size: 4rem;
  font-weight: 800;
  word-wrap: break-word;
  text-align: center;
  color: rgb(255, 244, 244);
}
.text-1{width: 676px;color: #FFF;
  text-align: center;
  font-size: 1rem;margin-left: 342px;margin-right: 252px;
  font-weight: 400; justify-content: center;
  line-height: 26px; /* 162.5% */}
.explore-selection{display: inline-flex;
  padding: 16px;
  align-items: flex-start;
  gap: 24px;border-radius: 8px;
  background: rgba(255, 255, 255, 0.30);}
.logo {
  margin-right: 10px;
  width: 50px;
  height: 27px;
  cursor: pointer;
}
.homepage{
  border-radius: 8px;
background: #FFF;width: 174px;
height: 52px;
}
.down-arrow{position: absolute relative;}

/* popular section related styles */

.popular-section-tittle {color: #131318;
    text-align: center;
    font-size: 40px;
}
.popular-section-text {text-decoration: none;
}
.order-box{list-style-position: outside;
  margin-top: 20px;
list-style-type: square;
}
.reading-btn {
  border-radius: 8px;
  background: #ff5400;
  width: 174px;
  height: 52px;
  flex-shrink: 0; margin-top: 60px;
}
.reading-btn-text {
  color: white;
}
.popular-box{
  display: flex;justify-content: space-between;grid-template-columns: 40px;
}
.popular-img{width: 540px;
  height: 340px;margin-right: 135px;
border-radius: 16px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;}
/* destination section related styles */
.destination-box-1{background-image: url(img/Rectangle\ 5.png);
background-repeat: no-repeat;width: 573px;
height: 300px;
border-radius: 20px;

}

/* choice related styles */
.choosing-section-box{display: grid;}
.choice-section-description{ margin-left: 343px;
  margin-right: 343px;
  color: rgba(19, 19, 24, 0.70);
  font-size:1rem;
  font-weight: 400;
  line-height: 26px;
  text-align: center;}
.choice-section-tittle{color: #131318;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;}
  .choosing-option-list{margin-left: 135px;
    margin-right: 135px;
    padding: 30px;
display: flex;
justify-content: space-between;
  }
  .choosing-option-1st{padding: 30px;
    width: 573px;
    height: 184px;
    flex-shrink: 0;border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);

  }
  .choosing-option-2nd{padding: 30px;
    width: 573px;
    height: 184px;
    flex-shrink: 0;border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
  }
  .choosing-option-3rd{border-radius: 16px;
    padding: 30px;
    width: 573px;
    height: 184px;
    flex-shrink: 0;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-left: 568px; margin-right: 434px;
    margin-bottom: 60px;

  }
/* client review styles */
.client-container{
display: grid; background-color: bisque;
}
.client-header{text-align: center;}
.client-grid{ margin-top: 4rem;
    display: flex;
    justify-content: space-between; 
    gap: 30px;
}
.client-card-img{ max-width: 70px;
    border-radius: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 1.5rem;
    
}
.client-card-h4{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: black;
}
.client-review{color: rgb(35, 28, 28)

}
/* newsletter related styles */
.newsletter-box{ margin-top: 4rem;width: 100%;
  display: flex;justify-content: space-between;
}.newsletter-text-section{ 
  background-color: azure;
}.newsletter-text{color: #5A5A5D;
  font-size: 16px;
  line-height: 26px;
}
.newsletter-form {display: block;
  width: 393px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
}
.subscribe-btn {
  border-radius: 8px;
  background: #ff5400;
  width: 174px;
  height: 52px;
  flex-shrink: 0;
}
.subscribe-btn-text {
  color: aliceblue;
}
.newsletter-img{width: 672px;
  height: 422px;
  flex-shrink: 0; margin-right: 135px;}
/* footing related styles */
.socials{
  text-align: center;width: 1440px;
  height: 502px;
  flex-shrink: 0;
  background-color:rgb(248, 237, 237);
}
.social-description-text {margin-top:3rem;
}
.socials-box{margin-left: 335px;
margin-right: 335px;
margin-top: 60px;
padding: 3rem;}
.socials-img-box{margin-left: 60px;
margin-right: 60px;}
.ending{
  margin-top: 90px;
margin-left: 627px;
margin-right: 626px;}